/*to do list: 
1. wykminić dlaczego przy <600 px div .headImg ma dalej left-margin: auto
2. muszą się ładnie układać jedno pod drugim wszystkie elementy
3. ładne łamanie tekstu
4.punktory w summary (usunac class "text" z li)

6. zdjęcie ma być wyjustowane pośrodku summary, po pomniejszeniu powinno wskoczyć od razu na lewo

8.dodać rzycisk drukuj
9.dostosować @media
10. nagłówki w kolumnie bocznej na lewo?
*/
body{
	background-color:black;
        font-size: 100%;
	}

 * {
    box-sizing: border-box;
   }

[class*="col-"] {
                display: flex;
                padding: 5px; /*odleg. miedzy obiektami*/
                /* border: 1px solid red; */
                align-items: left;
                justify-content: center; 
                margin: 0.5px;
                flex-flow: row wrap;
              }
              
              .col-10 {width: 10%;}
              .col-15 {width: 15%;}
              .col-20 {width: 20%;}
              .col-25 {width: 25%;}
              .col-30 {width: 30%;}
              .col-35 {width: 35%;}
              .col-50 {width: 50%;}
              .col-60 {width: 60%;}
              .col-65 {width: 65%;}
              .col-75 {width: 75%;}
              .col-100 {width: 100%;}
              
header{
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        padding: 3px;
        margin: 5px;
    }
.headline{
         justify-content: left;
    display: inherit;
    color: aliceblue;
    font-size: 9vw; /*vw- view-width, responsive fonst-size*/
    font-family: 'Alef', sans-serif;
    padding: 3px;
    margin-left: 0px;
    /* flex-shrink: 0; */
} 
.h1{
        display: inherit;
        color: aliceblue;
        font-size: 3.5vw;
        font-family: 'Alef', sans-serif;
        padding: 3px;
        margin: 2px 2px 2px 2px;      
} 
.text{
        display: inherit;
        color: aliceblue;
        font-size: 2.3vw;
        font-family: 'lato';
        padding: 3px;
        margin: 3px;
}
.textSmall{
        display: inherit;
        color: aliceblue;
        font-size: 1.5vw;
        font-family: 'lato';
        padding: 1px;
        margin: 3px;
}
.textItallic{
        display: inherit;
        color: aliceblue;
        font-size: 2.3vw;
        font-family: 'lato';
        padding: 1px;
        margin: 3px;
        font-style: italic;
}
.textBold{
        display: inherit;
        color: aliceblue;
        font-size: 2.3vw;
        font-family: 'lato';
        padding: 1px;
        margin: 3px;
        font-weight:bolder;
}
li{
        margin-left: 20px;
}
a:link{
        target: _blank;
        color: rgb(45, 123, 72);
        background-color: transparent;
        text-decoration: none;
}
a:visited{
        target: _blank;
        color: rgb(41, 120, 62);
        background-color: transparent;
        text-decoration: none;
}
a:hover{
        target: _blank;
        color: rgb(45, 66, 120);
        background-color: transparent;
        text-decoration: none;
}
.summary{
        display:flex;
        
        /* flex:100%; */
        /* float: left; */
        background-color: rgb(0, 0, 0);
        flex-flow: row wrap;
        align-items: center;
        padding: 5px;
        margin: 0px ;  
}
/* container do użycia przy flagach
.headImg{
        float: right;
        display: flex; 
        margin-left: auto;
}
.headFlag{
    /* display: inline-block; 
    width: 50px;
    height: 30px;
    }
przesunięcie flag na prawo, albo wystarczy dodać margin-left:auto w .headImg
.headImg:last-child{
	margin-left: auto;
}  */ 
.divLang{
        float:right;
        display: flex;
}
.lang{
        float:right;
        display: flex;
        color: aliceblue;
        font-size:small;
        font-family: 'Alef', sans-serif;
        padding: 3px;
        margin-left: auto;
        
}

.flexHead{
        display: flex;
        flex:100%;
        background-image:radial-gradient(grey, black 90%);
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align:center;
        padding-bottom: 20px;
        margin:0px ;
        }
/* .flexBody{
        display:flex;
        width: 60%;
        flex:100%;
        float: right;
        background-color: lightgray;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin: 0px ;
        }
.flexSide{
        display: flex;
        width: 35%;
        float: left;
        flex:100%;
        background-color: rgb(13, 193, 43);
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin: 0px ;
        }
 */
/* *{
        box-sizing: border-box;
        } */
/* .imgContainer{
        display: flex;
        float: right;
        width: 35%; /*to musi być ok35%, żeby zdjęcie było wyświetlane obok tekstu
        height: auto;
        padding: 3px;
        clip-path: circle(60px at centre); 
}*/
/* img{
        display: flex;
        float: right;
        width: 35%;
        max-width: 300px;
        max-height: 200px;
        margin: auto;
        clip-path: circle(35% at center); /*35% jest ok srednicą 
        } */
        
/* .picture{
        display: flex;
        float: right;
        width: 35%;
        max-width: 300px;
        max-height: 200px;
        margin: auto;
        clip-path: circle(35% at center); /*35% jest ok srednicą 
   
        } */

.clearfix::after {
        content: "";
        clear: both;
        display: table;
         }







/* da się to uzywać w stylach za miast w <header>?@import url('https://fonts.googleapis.com/css2?family=Alef:wght@700&family=Jost:ital,wght@0,500;1,300&display=swap');*/


        /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 500px) {
        [class*="col-"]{
                flex-direction: column;
        }
	.flexHead {
	        flex-direction: column; /*to jest potrzebne, żeby kolumny zawijały się w wiersze*/
	}
	.flexBody{
		flex-direction: column;
	}
        header{
                flex-direction: column;
        }
        img{
                flex-direction: column;
                margin: 0px;
              
        }
        /* .imgContainer{
                flex-direction:column;
                margin-left: 1px;
        } */
        .flexSide{
                flex-direction: column;
               
        }
        .h1{
                flex-direction: column;
        }
        .summary{
                flex-direction: column;
        }

    /* .headImg{
       /* flex-direction: column;
        align-items: flex-start;
        margin-left: 0px;
            
        }
	.headImg:last-child{
		
        margin-left: 0px;
        
	}
    */
        
	
  }